
.loader{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    svg{
      align-self: center;
      z-index: 11;
      fill: green;
    }
  }

.form-container {
  width: 100%;
  margin: auto;
  background-color: $light-base-color;
  padding: 35px;
  margin-top: 70px;
  position: relative;

.img-container{
  text-align: center;
  // padding: 5px;
  background: #E4E4E4;
  height: 210px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  
  img{
    width: auto;
  }
}
  
  .btn_container{
    padding: 0 15px;
    .btn{
      font-size: 12px;
      width: 100%;
      padding: 5px 5px;
    }
  }
}

@media(min-width: 993px){
  .form-container {
    width: 70%;
  }
}

@media(max-width: 992px){
  .form-container {
    width: 100%;
  }
}

.home_wrapper {
  .trix-content {
    min-height: 100px;
    width: 100%;
    border-radius: 0;
    border: 1px solid $input-border-color;

    &:focus {
      border: 1px solid $input-border-focus-color;
    }
  }

  .button_row {
    width: 100%;
    flex-wrap: wrap;

    .button_group {
      margin-bottom: 0;
    }

    button.icon {
      width: 19px;
      height: auto;
    }

    button {
      border-radius: 0;
    }

    .button_group span.block_tools {
      width: 49%;
    }
    .button_group span.text_tools {
      width: 28%;
    }
    .button_group span.history_tools {
      width: 14%;
    }
  }

  form span.arrow::before {
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    bottom: 0;
    background: url("../assets/img/icon-arrow-select.png") center no-repeat;
  }

  .full button span {
    background-color: $biruza-base-color;
    border-radius: 0;
    color: $light-base-color;
  }

  .partially button span {
    background-color: $biruza-base-color;
    color: $light-base-color;
    border-radius: 0;
  }

  .partially button, .full button {
    border-radius: 0;
  }

  input, select, textarea {
    border-radius: 0;
    border: 1px solid $input-border-color;
    outline: none !important;

    &:focus {
      box-shadow: none;
      border: 1px solid $input-border-focus-color;
    }
  }

  input[type="checkbox"] {
    outline: none !important;
  }

  .error {
    color: red;
    span {
      display: block;
    }
  }

  textarea {
    resize: none;
    word-wrap: break-word;
    transition: 0.05s;
    overflow: hidden;
  }

  .custom-file-control {
    position: absolute;
    top: -1px;
    right: 14px;
    left: 14px;
    z-index: 1;
    user-select: none;
    display: block;
    padding: 6px 12px;
    border: 1px solid $input-border-color;
    border-radius: 0;
    height: 32px;
    color: lightgray;
  }
  .custom-file-control:after {
    content: "";
    color: $input-border-color;
  }

  input[type=file] {
    position: relative;
    display: inline-block;
    overflow: visible;
    opacity: 0;
    width: 100%;
    height: 32px;
    line-height: 1.5;
    z-index: 5;
  }

  .control-label {
    text-align: left;
  }

  .form-container .btn-save{
    margin: 5px 0;
  }

  .btn-save {
    color: $light-base-color;
    background-color: $biruza-base-color;
    border: none;
    padding: 5px 22px;
    font-size: 16px;
    border-radius: 0;
    margin: 5px;

    &:hover {
      background-color: $blue-base-color;
      color: $light-base-color;
    }
  }

  .btn-calendar,.btn-search {
    color: $light-base-color;
    background-color: $biruza-base-color;
    border: 1px solid $biruza-base-color;
    border-radius: 0;
    &:hover,&:active, &:focus, &:focus:active, &:active:hover {
      background-color: $blue-base-color;
      border: 1px solid $blue-base-color;
      color: $light-base-color;
    }
  }

  select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-left: 25px;
    appearance: none;
  }
  select::-webkit-outer-spin-button,
  select::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  select {
    -moz-appearance:textfield;
  }

  .btn-file {
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1px;
    border: 1px solid $input-border-color;
    color: $gray-base-color;

    &:hover, &:focus {
      border: 1px solid $input-border-focus-color;
      color: $blue-base-color;
    }
  }

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
  }
}


.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 100%;
    height: 200px;
    display: block;
}


input[type="search"] {
  background-color: $light-base-color;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 30px;
  border: 1px solid $input-border-color;
  width: 100%;
  border-radius: 0;
  outline: none;

  &:hover, &:focus{
    border: 1px solid $input-border-focus-color;
  }
}