<div class="flex-container">
    <h1><span class="navbar-brand"></span></h1>
    <div class="form-block">
        <h2>Hi! Please sign in)</h2>
        <form name="loginForm">
            <div class="form-group">
                <span class="smile-icon icon"></span>
                <input type="text" name="login" id="login" class="form-control"  placeholder="login"/>
            </div>
            <div class="form-group">
                <span class="lock-icon icon"></span>
                <input type="password" name="password" id="password" class="form-control"  placeholder="password"/>
            </div>
            <div class="form-actions">
                <button uiSref="home" class="btn btn-primary btn-login">Увійти</button>
            </div>
        </form>
    </div>
</div>

